In [2]:

import pyspark
from pyspark.sql import *
import numpy as np
import pandas as pd
from pyspark.sql.functions import *
from pyspark.sql.types import *
import re

In [3]:
spark = SparkSession.builder.appName('Cleaning').getOrCreate()

25/03/27 17:31:58 WARN Utils: Your hostname, MacBook-Pro-cua-Vo-4.local resolves to a loopback address: 127.0.0.1; using 10.10.1.10 instead (on interface en0)
25/03/27 17:31:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/27 17:31:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/27 17:32:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# Read File

In [4]:
# Training Set
context = spark.read.csv('../initial_data/train/context.csv',header = True,inferSchema= True)
mpa = spark.read.csv('../initial_data/train/mobile_plan_attr.csv',header = True,inferSchema= True,sep=";")
mpu = spark.read.csv('../initial_data/train/mobile_plan_user.csv',header = True,inferSchema= True)
user = spark.read.csv('../initial_data/train/user.csv',header = True,inferSchema= True)

train_set = {'user': user,'context': context, 'mpa': mpa, 'mpu': mpu }

In [5]:
# Testing Set
context_test = spark.read.csv('../initial_data/test/context.csv',header = True,inferSchema= True)
mpa_test = spark.read.csv('../initial_data/test/mobile_plan_attr.csv',header = True,inferSchema= True,sep=";")
mpu_test = spark.read.csv('../initial_data/test/mobile_plan_user.csv',header = True,inferSchema= True)
user_test = spark.read.csv('../initial_data/test/user.csv',header = True,inferSchema= True)

test_set = {'user': user_test,'context': context_test, 'mpa': mpa_test, 'mpu': mpu_test }

# Preprocessing

## Missing Value

In [6]:
for key,df in train_set.items():
    length = df.count()
    save = []
    for c in df.columns:
        null_count = df.filter(col(c).isNull()).count()  + df.filter(col(c) == 'None').count()
        if null_count != 0:
            save.append({'column' : c ,'count':null_count,'percentage': null_count/length * 100})
    if save:
        missing_df = pd.DataFrame(save)
        print(f'------------------ {key} ----------------------')
        print(missing_df)

------------------ user ----------------------
      column  count  percentage
0  education   4003   34.592119
------------------ mpu ----------------------
        column  count  percentage
0  mobile_plan   2715    5.990600
1       accept   2721    6.003839

In [7]:
for key,df in test_set.items():
    length = df.count()
    save = []
    for c in df.columns:
        null_count = df.filter(col(c).isNull()).count()  + df.filter(col(c) == 'None').count()
        if null_count != 0:
            save.append({'column' : c ,'count':null_count,'percentage': null_count/length * 100})
    if save:
        missing_df = pd.DataFrame(save)
        print(f'------------------ {key} ----------------------')
        print(missing_df)

------------------ user ----------------------
      column  count  percentage
0  education    348   31.294964
------------------ mpu ----------------------
      column  count  percentage
0  coupon_id     87    6.227631
1     accept     92    6.585540

## User

In [8]:
user.show()

+-----+--------------------+------+---+---------+--------------------+--------------+---------------+---------+--------------------+-------------------------+-------+-------+----------+-----------------+--------------+
|   id|                name|gender|age|education|          profession|        income|    living_with|   nation|               phone|                      job|fb_freq|yt_freq|insta_freq|use_less_than_2GB|use_2GB_to_4GB|
+-----+--------------------+------+---+---------+--------------------+--------------+---------------+---------+--------------------+-------------------------+-------+-------+----------+-----------------+--------------+
|11156|        Rachel Gibbs|Female| 21|     None|          Unemployed|        39100$|   Unmarrie d_2|AUSTRALIA|      (08)-8012-7556|               Astronomer|      0|      0|         9|                8|             3|
| 4297|      Karen Anderson| Other| 22|     None|          Unemployed|        41000$|  U nmarr ied_2|  ENGLAND|        943-646-5203|           Air cabin crew|      0|      0|        23|                7|             2|
|13301|              김지원|Female| 24|     None|          Unemployed|        44300$|   Unma rried_1|    KOREA|       010-4500-9888|기계공학 기술자 및 연구원|      0|      0|        23|                5|             2|
| 9920|    Elisabeth Wähner|Female| 24|     None|          Unemployed|        44400$|  Un ma rried_1|  DENMARK|    +49(0) 587406963|      Medizininformatiker|      0|      0|        21|                7|             2|
| 8424|Sra. Maria Luiza ...|Female| 25|     None|          Unemployed|1100000000 VND|  U nmarr ied_1|   BRAZIL|     (084) 0568 1445|                  Ufólogo|      0|      0|        22|                5|             3|
| 6771|           渡辺 千代|Female| 21|     None|          Unemployed|        46400$| Unm  ar ried_1|    JAPAN|       090-3085-6096|                 演歌歌手|      0|      0|        14|                5|             3|
|15308|          Lisa Olson|Female| 24|     None|          Unemployed|1100000000 VND| Unmar r  ied_2|  ENGLAND|    001-406-807-3242|     Trading standards...|      0|      0|        19|                8|             2|
|14139|          Susan Ryan|Female| 22|     None|          Unemployed| 980000000 VND|    Unmarried_2|       US|+1-891-222-2144x7858|      Pensions consultant|      0|      0|        10|                6|             3|
|17824|           鈴木 翔太| Other| 24|     None|          Unemployed|1150000000 VND|  Unma r ried_2|    JAPAN|       090-2803-7648|                 アイドル|      0|      0|        17|                6|             2|
|16372|       Beverly Lopez| Other| 24|     None|          Unemployed|1180000000 VND|   Unma rried_1|  ENGLAND|   647.614.5318x5041|     Land/geomatics su...|      0|      0|        11|                8|             2|
| 1573|              张凤兰|Female| 23|     None|          Unemployed|1110000000 VND| Unma   rried_2|    CHINA|         15909858373|                 网站策划|      0|      0|        16|                8|             1|
|11835|Dipl.-Ing. Bozena...|Female| 23|     None|          Unemployed|        43400$|    Unmarried_2|  DENMARK|        06548 209250|      Medizininformatiker|      0|      0|        22|                6|             3|
|19253|    Christine Coffey|Female| 22|     None|          Unemployed|        47500$| U  nmarr ied_1|       US|        953-968-9491|                Homeopath|      0|      0|        23|                8|             1|
|10399|         Jessica Ali|Female| 21|     None|          Unemployed|1130000000 VND|  Unm arr ied_1|  ENGLAND|        842-865-1842|                  Barista|      0|      0|        23|                5|             3|
| 3502|        Susan Peters|Female| 25|     None|          Unemployed|        40400$|   Unma rried_1|       US|001-815-515-6483x...|     Volunteer coordin...|      0|      0|        16|                4|             3|
| 3051|           小川 智也|  Male| 25| Bachelor|Architecture & En...|1680000000 VND|     S i ngle_0|    JAPAN|       090-7082-4681|                 司法書士|      0|      0|         8|                5|             0|
|17620|    Nick Mühle-Klemm|  Male| 24| Bachelor|Architecture & En...|        74000$|     Si  ngle_0|  DENMARK|    +49(0)0577342291|               Mechaniker|      0|      1|         7|                5|             0|
| 9606|        Luis Bennett|  Male| 23| Bachelor|Architecture & En...|1772500000 VND|       Single_0|       US|     +1-922-537-0325|        Social researcher|      0|      1|         7|                8|             0|
|15884|             藤田 学|  Male| 24| Bachelor|Architecture & En...|        69800$|      Sing le_0|    JAPAN|       080-7594-3786|                   配管工|      0|      0|         6|                8|             1|
| 7022|       André Correia|  Male| 22| Bachelor|Architecture & En...|1595000000 VND|   S    ingle_0|   BRAZIL|       0500-308-8726|     Instrumentador ci...|      0|      1|         5|                8|             0|
+-----+--------------------+------+---+---------+--------------------+--------------+---------------+---------+--------------------+-------------------------+-------+-------+----------+-----------------+--------------+
only showing top 20 rows

## Name

In [9]:
user = user.drop('name')
user_test = user_test.drop('name')

## Gender

In [10]:
user = user.withColumn('gender',lower(col('gender')))
user_test = user_test.withColumn('gender',lower(col('gender')))

## Education

In [11]:
user = user.withColumn(
    'education', 
    when(col('education').isin(['highschool', 'associate']), 'undergrad')
    .when(col('education') == 'masters', 'postgrad')
    .when(col('education') == 'unknown', 'unknown')
    .otherwise('grad')
)
user_test = user_test.withColumn(
    'education', 
    when(col('education').isin(['highschool', 'associate']), 'undergrad')
    .when(col('education') == 'masters', 'postgrad')
    .when(col('education') == 'unknown', 'unknown')
    .otherwise('grad')
)

## Income

In [12]:
def income_convert(x):
    if 'VND' in x:
        x = int(x.replace('VND','')) 
        x /= 25000
        
    elif '$' in x:
        x =  x.replace('$','')
    if int(x) <= 30000:
        return 'lower'
    elif int(x) <= 58000:
        return 'lower-middle'
    elif int(x) <= 94000:
        return 'middle'
    elif int(x) <=153000:
        return 'upper-middle'
    elif int(x) <=200000:
        return 'upper'
    else:
        return 'extreme upper'
udf_income =  udf(income_convert,StringType())

In [13]:
user = user.withColumn('income', udf_income(col('income')))
user_test = user_test.withColumn('income', udf_income(col('income')))

## Profession

In [14]:
def convert_profession(x):
    if x not in ['unemployed','retired','student']:
        return 'employed'
    else :
        return x
udf_profession =  udf(convert_profession,StringType())

In [15]:
user = user.withColumn('profession', udf_profession(col('profession')))
user_test = user_test.withColumn('profession',udf_profession(col('profession')))

## Living_with

In [16]:

def extract_child(x):

    x = re.sub(r'[a-zA-Z_]+', '', x)  
    return int(x) if x.isdigit() else 0  


def extract_status(x):
    x = re.sub(r'[0-9_ ]+', '', x).lower() 
    return "singled" if x != "married" else "married" 


udf_ext_child = udf(extract_child, IntegerType())  
udf_ext_status = udf(extract_status, StringType())

In [17]:

user = user.withColumn('num_child', udf_ext_child(col('living_with')))
user = user.withColumn('living_with', udf_ext_status(col('living_with')))
user = user.withColumnRenamed('living_with','martial_status')

user_test = user_test.withColumn('num_child', udf_ext_child(col('living_with')))
user_test = user_test.withColumn('living_with', udf_ext_status(col('living_with')))
user_test = user_test.withColumnRenamed('living_with','martial_status')

## Nation

In [18]:
def convert_continent(x):
    continent_map = {
    'US': 'america',
    'ENGLAND': 'europe',
    'CHINA': 'asia',
    'JAPAN': 'asia',
    'RUSSIA': 'europe',
    'BRAZIL': 'america',
    'AUSTRALIA': 'oceania',
    'KOREA': 'asia',
    'DENMARK': 'europe'
}   
    return continent_map.get(x,'unknown')


udf_continent = udf(convert_continent,StringType())

In [19]:
user = user.withColumn('nation', udf_continent(col('nation')))
user = user.withColumnRenamed('nation','continent')

user_test = user_test.withColumn('nation', udf_continent(col('nation')))
user_test = user_test.withColumnRenamed('nation','continent')

## Phone, Job

In [21]:
user = user.drop('phone','job')
user_test = user_test.drop('phone','job')

In [43]:
user.show()

+-----+------+---+---------+----------+------------+--------------+---------+-------+-------+----------+-----------------+--------------+---------+
|   id|gender|age|education|profession|      income|martial_status|continent|fb_freq|yt_freq|insta_freq|use_less_than_2GB|use_2GB_to_4GB|num_child|
+-----+------+---+---------+----------+------------+--------------+---------+-------+-------+----------+-----------------+--------------+---------+
|11156|female| 21|     grad|  employed|lower-middle|       singled|  oceania|      0|      0|         9|                8|             3|        0|
| 4297| other| 22|     grad|  employed|lower-middle|       singled|   europe|      0|      0|        23|                7|             2|        0|
|13301|female| 24|     grad|  employed|lower-middle|       singled|     asia|      0|      0|        23|                5|             2|        0|
| 9920|female| 24|     grad|  employed|lower-middle|       singled|   europe|      0|      0|        21|                7|             2|        0|
| 8424|female| 25|     grad|  employed|lower-middle|       singled|  america|      0|      0|        22|                5|             3|        0|
| 6771|female| 21|     grad|  employed|lower-middle|       singled|     asia|      0|      0|        14|                5|             3|        0|
|15308|female| 24|     grad|  employed|lower-middle|       singled|   europe|      0|      0|        19|                8|             2|        0|
|14139|female| 22|     grad|  employed|lower-middle|       singled|  america|      0|      0|        10|                6|             3|        0|
|17824| other| 24|     grad|  employed|lower-middle|       singled|     asia|      0|      0|        17|                6|             2|        0|
|16372| other| 24|     grad|  employed|lower-middle|       singled|   europe|      0|      0|        11|                8|             2|        0|
| 1573|female| 23|     grad|  employed|lower-middle|       singled|     asia|      0|      0|        16|                8|             1|        0|
|11835|female| 23|     grad|  employed|lower-middle|       singled|   europe|      0|      0|        22|                6|             3|        2|
|19253|female| 22|     grad|  employed|lower-middle|       singled|  america|      0|      0|        23|                8|             1|        0|
|10399|female| 21|     grad|  employed|lower-middle|       singled|   europe|      0|      0|        23|                5|             3|        0|
| 3502|female| 25|     grad|  employed|lower-middle|       singled|  america|      0|      0|        16|                4|             3|        0|
| 3051|  male| 25|     grad|  employed|      middle|       singled|     asia|      0|      0|         8|                5|             0|        0|
|17620|  male| 24|     grad|  employed|      middle|       singled|   europe|      0|      1|         7|                5|             0|        0|
| 9606|  male| 23|     grad|  employed|      middle|       singled|  america|      0|      1|         7|                8|             0|        0|
|15884|  male| 24|     grad|  employed|      middle|       singled|     asia|      0|      0|         6|                8|             1|        0|
| 7022|  male| 22|     grad|  employed|      middle|       singled|  america|      0|      1|         5|                8|             0|        0|
+-----+------+---+---------+----------+------------+--------------+---------+-------+-------+----------+-----------------+--------------+---------+
only showing top 20 rows

In [44]:
user_test.show()

+-----+------+---+---------+----------+------------+--------------+---------+-------+-------+----------+-----------------+--------------+---------+
|   id|gender|age|education|profession|      income|martial_status|continent|fb_freq|yt_freq|insta_freq|use_less_than_2GB|use_2GB_to_4GB|num_child|
+-----+------+---+---------+----------+------------+--------------+---------+-------+-------+----------+-----------------+--------------+---------+
| 7067|female| 33|     grad|  employed|      middle|       married|     asia|      0|      1|         3|                0|             1|        0|
| 2114|female| 34|     grad|  employed|      middle|       married|     asia|      0|      1|         1|                1|             1|        0|
| 6582|female| 34|     grad|  employed|      middle|       married|  oceania|      0|      1|         3|                1|             0|        0|
|11379|female| 34|     grad|  employed|      middle|       married|  america|      0|      1|         3|                0|             0|        0|
| 3986|female| 34|     grad|  employed|      middle|       married|     asia|      0|      1|         1|                0|             1|        0|
|18895|female| 33|     grad|  employed|      middle|       married|  oceania|      0|      1|         3|                0|             1|        2|
|15411|female| 35|     grad|  employed|      middle|       married|  oceania|      0|      0|         3|                1|             0|        0|
| 9479|female| 44|     grad|  employed|       lower|       singled|  america|      0|     21|         1|                2|             0|        0|
| 6066|female| 43|     grad|  employed|       lower|       singled|   europe|      0|     17|         1|                3|             0|        0|
| 4993|female| 33|     grad|  employed|lower-middle|       married|  oceania|      0|      0|         4|                7|             0|        0|
|16677|female| 33|     grad|  employed|lower-middle|       married|   europe|      0|      1|         5|                7|             1|        0|
|12449|female| 34|     grad|  employed|lower-middle|       married|   europe|      0|      1|         6|                7|             1|        0|
| 7488|female| 48|     grad|  employed|lower-middle|       singled|     asia|      0|      0|         1|                1|             0|        0|
|16063|female| 49|     grad|  employed|lower-middle|       singled|   europe|      0|      0|         0|                0|             0|        0|
| 3687|female| 48|     grad|  employed|lower-middle|       singled|  america|      0|      1|         1|                1|             0|        0|
|19554|female| 44|     grad|  employed|       lower|       singled|  america|      1|      1|         2|                1|             0|        0|
|13548|female| 43|     grad|  employed|lower-middle|       singled|  oceania|      0|      1|         2|                3|             0|        1|
| 9635|female| 45|     grad|  employed|       lower|       singled|   europe|      0|      2|         3|                3|             0|        1|
| 9065|female| 45|     grad|  employed|lower-middle|       singled|   europe|      0|      1|         1|                2|             0|        3|
| 9063|female| 72|     grad|  employed|lower-middle|       married|  america|      2|      2|         5|                7|             2|        0|
+-----+------+---+---------+----------+------------+--------------+---------+-------+-------+----------+-----------------+--------------+---------+
only showing top 20 rows

# Context

In [23]:
context.show(10)

+-----+-------+------------+---------+-------+------------+------------+------------+--------+--------+-----+---------+
|   id|purpose|     go_with|  weather|   time|viettel_no_0|viettel_no_1|viettel_no_2|to_hanoi|to_other|score|direction|
+-----+-------+------------+---------+-------+------------+------------+------------+--------+--------+-----+---------+
|11156| Travel|    Al?!%one|&&!!Sunny|  13:00|           1|           0|           0|       0|       1|    0|        0|
| 4297| Travel|F!ri?end%(s)|  Sun!~ny|9  AM  |           1|           1|           0|       0|       1|    0|        0|
|13301| Travel|  Frie~nd(s)|!&~S!unny|  15:00|           1|           1|           0|       0|       1|    0|        0|
| 9920| Travel|  ?Friend(s)|  Su%n&ny| 2 PM  |           1|           1|           0|       0|       1|   30|        0|
| 8424| Travel|   ?Fa! mily|   Sun%ny|   10AM|           1|           1|           0|       0|       1|    0|        0|
| 6771| Travel|    Fami~!ly|  !%Sunny|  8  AM|           1|           1|           0|       0|       1|    0|        0|
|15308| Travel|     Fami?ly|  %S&unny|  14:00|           1|           0|           0|       0|       1|   29|        0|
|14139| Travel|      Family| ?S~u!nny| 1 PM  |           1|           1|           0|       0|       1|    0|        0|
|17824| Travel|     Fami ly|    Sunny|  16:00|           1|           1|           0|       0|       1|   25|        0|
|16372|  Visit|   ~~A!~lone|   Sunn?y|3  PM  |           1|           0|           0|       1|       0|    0|        1|
+-----+-------+------------+---------+-------+------------+------------+------------+--------+--------+-----+---------+
only showing top 10 rows

## Go_with and weather

In [24]:
def standard_str(x):
    return str(re.sub(r"[^a-zA-Z\s]", "", str(x)).replace(' ','').lower())
udf_standard_str = udf(standard_str,StringType())

In [25]:
context =  context.withColumn('go_with', udf_standard_str(col('go_with')))
context =  context.withColumn('weather', udf_standard_str(col('weather')))

context_test =  context_test.withColumn('go_with', udf_standard_str(col('go_with')))
context_test =  context_test.withColumn('weather', udf_standard_str(col('weather')))

## Purpose

In [26]:
context = context.withColumn('purpose', when(col('purpose') == 'Work','work').otherwise('travel'))
context_test = context_test.withColumn('purpose', when(col('purpose') == 'Work','work').otherwise('travel'))

In [27]:
context.show()

+-----+-------+-------+-------+-------+------------+------------+------------+--------+--------+-----+---------+
|   id|purpose|go_with|weather|   time|viettel_no_0|viettel_no_1|viettel_no_2|to_hanoi|to_other|score|direction|
+-----+-------+-------+-------+-------+------------+------------+------------+--------+--------+-----+---------+
|11156| travel|  alone|  sunny|  13:00|           1|           0|           0|       0|       1|    0|        0|
| 4297| travel|friends|  sunny|9  AM  |           1|           1|           0|       0|       1|    0|        0|
|13301| travel|friends|  sunny|  15:00|           1|           1|           0|       0|       1|    0|        0|
| 9920| travel|friends|  sunny| 2 PM  |           1|           1|           0|       0|       1|   30|        0|
| 8424| travel| family|  sunny|   10AM|           1|           1|           0|       0|       1|    0|        0|
| 6771| travel| family|  sunny|  8  AM|           1|           1|           0|       0|       1|    0|        0|
|15308| travel| family|  sunny|  14:00|           1|           0|           0|       0|       1|   29|        0|
|14139| travel| family|  sunny| 1 PM  |           1|           1|           0|       0|       1|    0|        0|
|17824| travel| family|  sunny|  16:00|           1|           1|           0|       0|       1|   25|        0|
|16372| travel|  alone|  sunny|3  PM  |           1|           0|           0|       1|       0|    0|        1|
| 1573| travel|  alone|  sunny|4  PM  |           1|           1|           0|       0|       1|    0|        0|
|11835|   work|  alone|  sunny|   7:00|           1|           1|           1|       0|       1|    0|        0|
|19253|   work|  alone|  sunny|   6:00|           1|           1|           0|       0|       1|   32|        0|
|10399|   work|  alone|  sunny|7  AM  |           1|           0|           0|       1|       0|    0|        1|
| 3502|   work|  alone|  sunny|7  AM  |           1|           1|           0|       0|       1|    0|        0|
| 3051| travel|  alone|  sunny|  14:00|           1|           0|           0|       0|       1|   13|        0|
|17620| travel|friends|  sunny|9  AM  |           1|           0|           0|       0|       1|    0|        0|
| 9606| travel|friends|  sunny|  14:00|           1|           1|           0|       0|       1|    0|        0|
|15884| travel|friends|  sunny|  15:00|           1|           1|           0|       0|       1|   15|        0|
| 7022| travel|friends|  sunny|  11:00|           1|           1|           0|       0|       1|    0|        0|
+-----+-------+-------+-------+-------+------------+------------+------------+--------+--------+-----+---------+
only showing top 20 rows

## Time

In [28]:
def convert_time(x):
    if 'AM' in x:
        x = x.replace('AM','')
    elif 'PM' in x:
        x = x.replace('PM','')
        x = int(x.split(':')[0]) + 12
    elif ':00' in x:
        x = x.replace(':00','')
    return x

def time_of_day(x):
    hour = int(convert_time(x))
    if 5 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 17:
        return 'afternoon'
    elif 17 <= hour < 21:
        return 'evening'
    else:
        return 'night'
    
udf_time = udf(time_of_day,StringType())

In [29]:
context =  context.withColumn('time', udf_time(col('time')))
context_test =  context_test.withColumn('time', udf_time(col('time')))

In [30]:
context.show()

+-----+-------+-------+-------+---------+------------+------------+------------+--------+--------+-----+---------+
|   id|purpose|go_with|weather|     time|viettel_no_0|viettel_no_1|viettel_no_2|to_hanoi|to_other|score|direction|
+-----+-------+-------+-------+---------+------------+------------+------------+--------+--------+-----+---------+
|11156| travel|  alone|  sunny|afternoon|           1|           0|           0|       0|       1|    0|        0|
| 4297| travel|friends|  sunny|  morning|           1|           1|           0|       0|       1|    0|        0|
|13301| travel|friends|  sunny|afternoon|           1|           1|           0|       0|       1|    0|        0|
| 9920| travel|friends|  sunny|afternoon|           1|           1|           0|       0|       1|   30|        0|
| 8424| travel| family|  sunny|  morning|           1|           1|           0|       0|       1|    0|        0|
| 6771| travel| family|  sunny|  morning|           1|           1|           0|       0|       1|    0|        0|
|15308| travel| family|  sunny|afternoon|           1|           0|           0|       0|       1|   29|        0|
|14139| travel| family|  sunny|afternoon|           1|           1|           0|       0|       1|    0|        0|
|17824| travel| family|  sunny|afternoon|           1|           1|           0|       0|       1|   25|        0|
|16372| travel|  alone|  sunny|afternoon|           1|           0|           0|       1|       0|    0|        1|
| 1573| travel|  alone|  sunny|afternoon|           1|           1|           0|       0|       1|    0|        0|
|11835|   work|  alone|  sunny|  morning|           1|           1|           1|       0|       1|    0|        0|
|19253|   work|  alone|  sunny|  morning|           1|           1|           0|       0|       1|   32|        0|
|10399|   work|  alone|  sunny|  morning|           1|           0|           0|       1|       0|    0|        1|
| 3502|   work|  alone|  sunny|  morning|           1|           1|           0|       0|       1|    0|        0|
| 3051| travel|  alone|  sunny|afternoon|           1|           0|           0|       0|       1|   13|        0|
|17620| travel|friends|  sunny|  morning|           1|           0|           0|       0|       1|    0|        0|
| 9606| travel|friends|  sunny|afternoon|           1|           1|           0|       0|       1|    0|        0|
|15884| travel|friends|  sunny|afternoon|           1|           1|           0|       0|       1|   15|        0|
| 7022| travel|friends|  sunny|  morning|           1|           1|           0|       0|       1|    0|        0|
+-----+-------+-------+-------+---------+------------+------------+------------+--------+--------+-----+---------+
only showing top 20 rows

In [31]:
context = context.drop('to_hanoi','to_other')
context_test = context_test.drop('to_hanoi','to_other')

In [32]:
context.show()

+-----+-------+-------+-------+---------+------------+------------+------------+-----+---------+
|   id|purpose|go_with|weather|     time|viettel_no_0|viettel_no_1|viettel_no_2|score|direction|
+-----+-------+-------+-------+---------+------------+------------+------------+-----+---------+
|11156| travel|  alone|  sunny|afternoon|           1|           0|           0|    0|        0|
| 4297| travel|friends|  sunny|  morning|           1|           1|           0|    0|        0|
|13301| travel|friends|  sunny|afternoon|           1|           1|           0|    0|        0|
| 9920| travel|friends|  sunny|afternoon|           1|           1|           0|   30|        0|
| 8424| travel| family|  sunny|  morning|           1|           1|           0|    0|        0|
| 6771| travel| family|  sunny|  morning|           1|           1|           0|    0|        0|
|15308| travel| family|  sunny|afternoon|           1|           0|           0|   29|        0|
|14139| travel| family|  sunny|afternoon|           1|           1|           0|    0|        0|
|17824| travel| family|  sunny|afternoon|           1|           1|           0|   25|        0|
|16372| travel|  alone|  sunny|afternoon|           1|           0|           0|    0|        1|
| 1573| travel|  alone|  sunny|afternoon|           1|           1|           0|    0|        0|
|11835|   work|  alone|  sunny|  morning|           1|           1|           1|    0|        0|
|19253|   work|  alone|  sunny|  morning|           1|           1|           0|   32|        0|
|10399|   work|  alone|  sunny|  morning|           1|           0|           0|    0|        1|
| 3502|   work|  alone|  sunny|  morning|           1|           1|           0|    0|        0|
| 3051| travel|  alone|  sunny|afternoon|           1|           0|           0|   13|        0|
|17620| travel|friends|  sunny|  morning|           1|           0|           0|    0|        0|
| 9606| travel|friends|  sunny|afternoon|           1|           1|           0|    0|        0|
|15884| travel|friends|  sunny|afternoon|           1|           1|           0|   15|        0|
| 7022| travel|friends|  sunny|  morning|           1|           1|           0|    0|        0|
+-----+-------+-------+-------+---------+------------+------------+------------+-----+---------+
only showing top 20 rows

## Mobile Plan Attributes

In [33]:
mpa.show(10)

+---------------+--------------------+------+--------+
|    mobile_plan|         description| price|duration|
+---------------+--------------------+------+--------+
|     DATASILVER|2GB/ day, high speed|100000|     5.0|
|       DATAGOLD|5GB/ day, high speed|200000|     5.0|
|    SOCIALMEDIA|1GB/ dayUnlimited...|150000|     3.0|
|SOCIALMEDIAGOLD|3GB/ day, high sp...|250000|     3.0|
|       DATACALL|2GB/ day, high sp...|200000|     5.0|
+---------------+--------------------+------+--------+

### Mobile_plan

In [34]:
mpa = mpa.withColumn('mobile_plan', lower(col('mobile_plan')))
mpa_test = mpa_test.withColumn('mobile_plan', lower(col('mobile_plan')))

### Duration

In [35]:
mpa = mpa.withColumn('duration', regexp_replace(col('duration'), 'd', ''))
mpa_test = mpa_test.withColumn('duration', regexp_replace(col('duration'), 'd', ''))

###  Data Capacity

In [36]:
mpa = mpa.withColumn('capacity', regexp_extract(col('description'), r'(\d+)GB', 1))
mpa_test = mpa_test.withColumn('capacity', regexp_extract(col('description'), r'(\d+)GB', 1))

### Descripton

In [37]:
def extract_ad(x):
    temp = []
    if 'high speed' in x.lower():
        temp.append('High_Speed')
    if 'unlimited' in x.lower():
        temp.append('Unlimited_Social')
    if 'call' in x.lower():
        temp.append('Calls')
    return ', '.join(temp) if temp else 'None'


udf_extract_ad = udf(extract_ad, StringType())

In [38]:
mpa = mpa.withColumn('description', udf_extract_ad(col('description')))
mpa_test = mpa_test.withColumn('description', udf_extract_ad(col('description')))

In [39]:
mpa.show()

+---------------+--------------------+------+--------+--------+
|    mobile_plan|         description| price|duration|capacity|
+---------------+--------------------+------+--------+--------+
|     datasilver|          High_Speed|100000|     5.0|       2|
|       datagold|          High_Speed|200000|     5.0|       5|
|    socialmedia|    Unlimited_Social|150000|     3.0|       1|
|socialmediagold|High_Speed, Unlim...|250000|     3.0|       3|
|       datacall|High_Speed, Unlim...|200000|     5.0|       2|
+---------------+--------------------+------+--------+--------+

# MPU

In [45]:
mpu.show()

+-------+---------------+------+
|     id|    mobile_plan|accept|
+-------+---------------+------+
|11156.0|     datasilver|   1.0|
| 4297.0|socialmediagold|   1.0|
|13301.0|     datasilver|   1.0|
| 9920.0|socialmediagold|   1.0|
| 8424.0|     datasilver|   1.0|
| 6771.0|socialmediagold|   0.0|
|15308.0|     datasilver|   1.0|
|14139.0|     datasilver|   1.0|
|17824.0|    socialmedia|   1.0|
|16372.0|       datacall|   1.0|
| 1573.0|       datagold|   1.0|
|11835.0|    socialmedia|   1.0|
|19253.0|       datagold|   1.0|
|10399.0|socialmediagold|   1.0|
| 3502.0|    socialmedia|   1.0|
| 3051.0|     datasilver|   0.0|
|17620.0|       datacall|   1.0|
| 9606.0|     datasilver|   1.0|
|15884.0|     datasilver|   0.0|
| 7022.0|socialmediagold|   1.0|
+-------+---------------+------+
only showing top 20 rows

In [40]:
mpu = mpu.withColumn('mobile_plan', lower(col('mobile_plan')))
mpu_test = mpu_test.withColumnRenamed('coupon_id','mobile_plan')
mpu_test = mpu_test.withColumn('mobile_plan', lower(col('mobile_plan')))

In [41]:
mpu = mpu.na.drop()
mpu_test = mpu_test.na.drop()